<div class="container-fluid header">
  <div class="bg-img">
    <img src="../assets/bakery-bg.jpg" class="img-fluid">
  </div>
  <nav>
    <div class="logo-img">
      <img src="../assets/bakery-logo.jpeg" class="img-fluid">
    </div>
    <ul>
      <li><a href="#">Birthday</a></li>
      <li><a href="#">chocolate</a></li>
      <li><a href="#">fruit</a></li>
      <li><a href="#">pastry</a></li>
      <li><a href="#">blogs faqs</a></li>
    </ul>
  </nav>
  <div class="head-icon">
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-solid fa-heart"></i>
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-cart-arrow-down"></i>
  </div>
  <!-- Navigation Section End -->
  <div class="header-text">
    <div class="top-left">
      <p class="cake-head">Healthy Cake For you</p>
      <br>
      <p class="title-para">Raspberries, dipped in cream, blended with mint leaves.</p>

      <button class="buy-now">Buy Now</button>
    </div>
  </div>
  <br><br>
  <div class="center-section">
    <div class="cake-img-with-para text-muted">
      <img src="../assets/cake.png" width="100px" class="img-fluid cake-img">
      <p class="order-cake-para">Order Your Cake</p>
      <p class="order-cake-lorem">Lorem, ipsum dolor sit amet consectetur adipisicing <br></p>
      <p class="order-cake-lorem1">elit. Enim sit fugit magni
        neque</p>
    </div>
  </div>
  <div class="shipping-img-with-para text-muted">
    <img src="../assets/shipping.jpg" class="img-fluid shipping-img">
    <p class="shipping-para">Shipping & Return</p>
    <p class="shipping-lorem">Lorem, ipsum dolor sit amet consectetur adipisicing <br></p>
    <p class="shipping-lorem1">elit. Enim sit fugit magni
      neque</p>
  </div>
  <div class="payment-card-img-with-para text-muted">
    <img src="../assets/credit-card.png" class="img-fluid payment-img">
    <p class="payment-para">Safe Payment</p>
    <p class="payment-lorem">Lorem, ipsum dolor sit amet consectetur adipisicing <br></p>
    <p class="payment-lorem1">elit. Enim sit fugit magni
      neque</p>
  </div>

  <div class="shop-by-category">
    <p class="category">
      Shop By Categories
    </p>
    <div class="buttons">
      <button class="cake-button">Cake</button>
      &nbsp;
      <button class="chocolate-cake" style="margin-top: -120px;">
        Chocolate Cake
      </button>
      &nbsp;
      <button class="Fruit-cake">Fruit cake</button>
      &nbsp;
      <button class="Birthday-cake">Birthday Cake</button>
    </div>
    <br><br><br>
    <div class="cakes-with-animation">
      <div class="porducts">
        <img src="../assets/gaint-cu[-cake.jpeg" alt="" class="img-fluid gaint-img">
      </div>
      <span class="gaint-cake-para">
        Gaint Cup Cream Cake
      </span>
      <br>
      <p class="gaint-price">$7.00</p>

      <div class="unicorn-porducts">
        <img src="../assets/unicorn-cuo-cake.jpeg" alt="" class="img-fluid unicorn-img">
      </div>
      <p class="unicorn-cake-para">
        Unicorn Cup Cream Cake
      </p>
      <br>
      <p class="unicorn-price">$7.00</p>
      <div class="porducts">
        <img src="../assets/donuts.jpeg" alt="" class="img-fluid donut-img">
      </div>
      <p class="Donut-cake-para">
        Donuts Yeast Donut Strawberry
      </p>
      <br>
      <p class="Donut-price">$7.00</p>
      <div class="porducts">
        <img src="../assets/strawberry-cup-cake.jpeg" alt="" class="img-fluid strawberry-img">
      </div>
      <p class="strawberry-cake-para">
        Strawberry Cheese Cake Cup
      </p>
      <br>
      <p class="strawberry-price">$7.00</p>
    </div>
    <br><br>
    <div class="cakes-with-animation">
      <div class="porducts">
        <img src="../assets/gaint-cake.jpeg" alt="" class="img-fluid gaint-img">
      </div>
      <span class="gaint-cake-para">
        Gaint Cup Cream Cake
      </span>
      <br>
      <p class="gaint-price">$7.00</p>

      <div class="unicorn-porducts">
        <img src="../assets/unicorn-cupcake.jpeg" alt="" class="img-fluid unicorn-img">
      </div>
      <p class="unicorn-cake-para">
        Unicorn Cup Cream Cake
      </p>
      <br>
      <p class="unicorn-price">$7.00</p>
      <div class="porducts">
        <img src="../assets/donut-yeast.jpeg" alt="" class="img-fluid donut-img">
      </div>
      <p class="Donut-cake-para">
        Donuts Yeast Donut Strawberry
      </p>
      <br>
      <p class="Donut-price">$7.00</p>
      <div class="porducts">
        <img src="../assets/strawbeery-cupcake.jpeg" alt="" class="img-fluid strawberry-img">
      </div>
      <p class="strawberry-cake-para">
        Strawberry Cheese Cake Cup
      </p>
      <br>
      <p class="strawberry-price">$7.00</p>
    </div>
    <br>
    <!-- Shop By Category Section End -->
    <div class="middle-section">
      <img src="../assets/bg2.png" alt="" class="img-fluid">
      <div class="centered">
        <p class="middle-para">Raspberry french Strawberry Cake</p>
        <p class="midlle-para2">
          The best cakes in town! Made of strawberries and love is a dream for
        </p>
        <p class="middle-para3">everyone. Do not miss</p>
        <button class="btn1">Buy Now</button>
      </div>
    </div>
    <br> <br>
    <!-- Middle Section End -->

    <div class="submid-section">
      <p class="feature-pro-para">
        our featured products
      </p>
      <p class="feature-pro-para2">
        Raspberries, dipped in cream, blended with mint leaves.
      </p>

      <br><br>
      <div class="cakes-with-animation">
        <div class="porducts">
          <img src="../assets/gaint-cu[-cake.jpeg" alt="" class="img-fluid gaint-img">
        </div>
        <span class="gaint-cake-para">
          Gaint Cup Cream Cake
        </span>
        <br>
        <p class="gaint-price">$7.00</p>

        <div class="unicorn-porducts">
          <img src="../assets/unicorn-cuo-cake.jpeg" alt="" class="img-fluid unicorn-img">
        </div>
        <p class="unicorn-cake-para">
          Unicorn Cup Cream Cake
        </p>
        <br>
        <p class="unicorn-price">$7.00</p>
        <div class="porducts">
          <img src="../assets/donuts.jpeg" alt="" class="img-fluid donut-img">
        </div>
        <p class="Donut-cake-para">
          Donuts Yeast Donut Strawberry
        </p>
        <br>
        <p class="Donut-price">$7.00</p>
        <div class="porducts">
          <img src="../assets/strawberry-cup-cake.jpeg" alt="" class="img-fluid strawberry-img">
        </div>
        <p class="strawberry-cake-para">
          Strawberry Cheese Cake Cup
        </p>
        <br>
        <p class="strawberry-price">$7.00</p>
        <img src="../assets/arrow-right.png" class="arrow-right img-fluid">
        <img src="../assets/left-arrow.png" alt="" class="img-fluid left-arrow">
      </div>

      <div class="gallery">
        <p class="gallery-title">our gallery</p>
        <div class="gallery-img">
          <img src="../assets/gallery-img1.png" alt="" class="img-fluid">
          <img src="../assets/gallery-img2.jpg" alt="" class="img-fluid">
          <img src="../assets/gallery-img3.png" alt="" class="img-fluid">
          <img src="../assets/gallery-img4.jpg" alt="" class="img-fluid">
          <img src="../assets/gallery-img5.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <br><br>
    <!-- Sub Middle Section End -->

    <div class="footer-section">
      <div class="company-sec">
        <p class="footer-sec01">company</p>
        <p class="about">About us</p>
        <p class="contact">Contact us</p>
        <p class="works">How it's works</p>
        <p class="blogs">Blogs FAQs</p>
        <p class="term-condi">Terms & Condition</p>
        <p class="refund">Refund Policy</p>
      </div>
      <div class="bakery-logo-in-footer">
        <img src="../assets/bakery-logo-footer.png" class="img-fluid" style="width: 100px;">
      </div>
      <div class="category-sec">
        <p class="footer-sec02">Categories</p>
        <p class="pastry">Pastry</p>
        <p class="fruit">Fruit</p>
        <p class="chocolate">Chocolate</p>
        <p class="black-forest">Black Forest</p>
      </div>
      <div class="account-sec">
        <p class="footer-sec03">my account</p>
        <p class="payment">Payment Options</p>
        <p class="shipping">Shipping</p>
        <p class="exchange">Return & Exchange</p>
        <p class="privacy">Privacy Policy</p>
      </div>
      <div class="contact-sec">
        <p class="footer-sec04">contact us</p>
        <img src="../assets/envelope.png" alt="" class="img-fluid mail-img">
        <p class="email">kyle@driftleads.com</p>
        <img src="../assets/call.png" alt="" class="img-fluid call-img">
        <p class="call">832-235-4752</p>
        <img src="../assets/maps-and-flags.png" alt="" class="img-fluid map-img">
        <p class="map">N/A for now Angeles, California,</p>
        <p class="map02">United States,90001</p>
      </div>
      <div class="app-sec">
        <p class="footer-sec05">get the app</p>
        <p class="enter-val">Enter your number & we'll text you a dawnload link</p>
        <p class="number">+1</p>
        <!-- <p class="sign">|</p> -->
        <p class="input-field"><input type="text" placeholder="123 456 7890"></p>
        <button class="send-btn">send</button>
        <img src="../assets/apple.png" alt="" class="img-fluid apple-img">
        <img src="../assets/googleplay.jpg" alt="" class="img-fluid googleplay-img">
        <div class="socialmedia-icon">
          <img src="../assets/facebook.png" alt="" class="fluid fb-img">
          <img src="../assets/google-plus.png" alt="" class="img-fluid google-img">
          <img src="../assets/twitter-logo.png" alt="" class="img-fluid twitter-img">
          <img src="../assets/instagram.png" alt="" class="img-fluid insta-img">
        </div>
        <div class="payment-card-icon">
          <img src="../assets/visa.png" alt="" class="img-fluid visa-card">
          &nbsp;
          <img src="../assets/card.png" alt="" class="img-fluid pay-card">
          &nbsp;
          <img src="../assets/gift-card.png" alt="" class="img-flui gift-card">
          &nbsp;
          <img src="../assets/gift-card (1).png" alt="" class="img-flui gift1-card">
        </div>
        <br>
        <div class="copywite">
          <p class="copy-right">copyright &copy; 2022 all rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>